.narrative {
  background-color: #d2d9d7;
  margin: 10px 0;
  padding: 10px; }

#login-wrap {
  background-color: #6b8279;
  padding: 10px;
  position: absolute;
  right: 0; }
  #login-wrap a {
    color: #07251a; }

body {
  /*background-color: $colorPrimary; */
  font-family: "Copse", georgia, serif;
  font-size: 16px;
  line-height: 24px; }

#header {
  background-color: #092e20;
  border-bottom: 5px solid #07251a;
  color: #6b8279; }
  #header h1 {
    font-size: 32px;
    line-height: 60px;
    margin: 0; }

#main {
  background-color: #6b8279; }

#footer {
  background-color: #092e20;
  color: #d2d9d7; }
  #footer a {
    color: #6b8279; }
  #footer p {
    line-height: 40px;
    margin: 0; }
