/****************************************************
 * Basic site look, borrowed from jeremybowers.com *
 ****************************************************/

* {margin:0;padding:0;}
a, a:visited {color:#333;text-decoration:none;font-weight:bold;}
a:hover {color:#fff;}
#footer a:hover {color:#ffc757;}
body {font-size:16px;font-weight:normal;font-family:"Georgia",Georgia,serif;background:#A66F00;color:#333;}

/* overall */
.line-header {font-weight:bold;font-size:32px;margin:10px 0 15px;}
#nav {background-color:#FFBF40;padding:10px 0 20px;}
#nav > div {width:600px;margin:0 auto;}
#nav h1 a, #nav h1 a {color:#000;}
#nav h1 a:hover {color:#555;}
#content {background-color:#FFD073;padding:20px 0;}
#content > div {width:600px;margin:0 auto;}
#footer {background:#A66F00;color:#333;padding:20px 0;}
#footer > div {width:600px;margin:0 auto;} 
#footer > div > div {}

/* home */
div.stream {margin:5px 0;font-size:14px;}
div.stream .left {width:350px;float:left;}
div.stream .right {width:150px;float:right;}
h2 {margin-top:10px;}
span.date {display:inline-block;margin:0 5px 0 0;color:#333;font-weight:bold;}
ul {padding:0 0 0 25px;}
ul li {margin:5px 0 8px;list-style-type:square;}


/*****************************
 * Hackathon-specific styles *
 *****************************/
.clear { clear: both; }

.field { margin-bottom: 10px; }
.field.error { background-color: #ff3131; padding: 8px; }
.field.error li { list-style-type: none; }
.field.error .error_txt { color: #ddd; }

.login-wrap { text-align: right; background-color: #FFBF40; height: 15px; }
.login { padding-top: 15px;	padding: 10px; float: right; background-color: #FFCF50; }
.smalltxt { font-size: 12px; color: #555; }
.smalltxt.ctl { padding-left: 5px;}

.description p { font-size: 20px; margin-bottom: 15px;}

.action a { padding: 15px; margin: 15px; float: right; background-color: black; color: white; }
.action a:hover { color: #ccc; }
/*.action a { padding: 15px; margin: 45px; background-color: #FFBF40; }*/