<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block pageTitle %}{% endblock %}</title> 
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}reset.css">
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}960.css">
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}text.css">
	<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}style.css"> -->
	<link href='http://g8rweb.com/nicar2011/style.css' rel='stylesheet' type='text/css'>
</head>
    
<body class="">
	
	<div id="login-wrap"><div>
		{% if logged_in %}Hello <a href="{{user.get_absolute_url}}">{{user}}</a>. <span class="smalltxt">[<a href="{{user.get_edit_url}}">Edit profile</a> | <a href="{% url logout %}">Log out</a>]</span>{% else %}<a href="{% url login %}">[Log in]</a>{% endif %}
	</div></div>
	
	<div id="header"><div class="container_12">
		<div class="grid_1">&nbsp;</div>
		<h1><a href="/">ProjectPitcher &ndash; NICAR Edition</a></h1>
		<div class="clear"></div>
	</div></div>
	
	<div id="main"><div class="container_12">
		<div class="grid_1">&nbsp;</div>
		<div class="grid_10 narrative">
			{% block bodyContent %}{% endblock %}
		</div>
		<div class="clear"></div>
	</div></div>
        
	<div id="footer"><div class="container_12">
		<div class="grid_1">&nbsp;</div>
		<div class="grid_10">
			<p>Built by <a href="http://www.adamplayford.com">Adam Playford</a> and <a href="http://www.andymboyle.com">Andy Boyle</a> in <a href="http://www.djangoproject.com/">Django</a>. Design by <a href="http://twitter.com/gotoplanb">Dave Stanton</a>.</p>
		</div>
		<div class="clear"></div>
	</div></div>

    </body> 
</html>