{% extends "hackathon/base.html" %}

{% block pageTitle %}NICAR Hackathon Project List{% endblock %}

{% block bodyContent %}
<div class="line-header"><a href="{% url submit-project %}">Pitch a project</a> | 
{% if not logged_in %}<a href="{% url signup %}">Volunteer to help</a>
{% else %}Browse proposals{% endif %}</div> 

<h2>Welcome to the ProductPitcher</h2>
<div>This app helps bring people together to work on ideas during hackathons. Here you can pitch a goal, whether it's refactoring old code to reach a new milestone, or spend a sleepless night building something new. If you haven't yet, feel free to <a href="{% url signup %}">sign-up</a> or <a href="{% url login %}">login</a> if you need to. </div>

{% for pr in projects %} <h2><a href="{{ pr.get_absolute_url }}">{{ pr.name }}</a></h2>
<div><span class="date"> <strong>Team: </strong>{% for staffs in pr.staff.all %}{% if forloop.first %}{% else %}, {% endif %}{{ staffs.name }}{% endfor %}</span><br />
    {{ pr.description|truncatewords:150 }}</div> 
    <div class="needs"><strong>Still needs: {% if forloop.first %}{% else %}, {% endif %}{% for need in pr.needs.all %}{{need}}, {% endfor %}</strong>
    {% endfor %}
    

<h2>Volunteers so far</h2>
<div><span class ="date">{% for p in people %}{% if not forloop.last %},{% endif %}<a href="{{ p.get_absolute_url}}"{{ p.name }}</a>{% endfor %}</span></div>

</div> 

{% endblock bodyContent %}