{% extends "hackathon/base.html" %}

{% block pageTitle %}NICAR Hackathon Project List{% endblock %}

{% block bodyContent %}
<div class="line-header">You have been logged out!</div> 
<h2><a href="project-link">Fill this out to log back in</a></h2>
<div class="email"><strong>Email </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>
</div>
<div class="password"><strong>Password </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>

</div>


</div> 
 
{% endblock bodyContent %}