{% extends "hackathon/base.html" %}

{% block pageTitle %}NICAR Hackathon Project List{% endblock %}

{% block bodyContent %}
<div class="line-header">Project Sign-up</div> 
<div class="name"><strong>Project Name </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>
</div>
<div class="email"><strong>Short description </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>
</div>
<div class="email"><strong>Source code </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>
</div>
<div class="email"><strong>Long description </strong><form method="post" action="">
<textarea name="comments" cols="40" rows="5">
Enter your project stuff here...
</textarea><br>
<input type="submit" value="Submit" />
</form>
</div><br />
<div class="email"><strong>Skill-types needed: </strong>
    <select>
      <option>Front-end</option>
      <option>Back-end</option>
    </select>
</div><br />
<div class="password"><strong>Previous project URL </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>
</div>


</div> 
 
{% endblock bodyContent %}