{% extends "hackathon/base.html" %}

{% block pageTitle %}NICAR Hackathon Project List{% endblock %}

{% block bodyContent %}
	<div class="line-header">{{ me.name }} {% if can_edit %}<span class="smalltxt ctl"><a href="{{me.get_edit_url}}">Click to edit</a></span>{% endif %}</div> 
	
	<div class="description">{{ me.bio|linebreaks }}</div>

	<br />
	
	{% if me.website %}<div class="url"><strong>Website: </strong><a href="{{ me.website }}">{{ me.website }}</a></div>{% endif %}

	{% if me.skills_summary %}<div class="has"><strong>Technical skills: </strong>{{ me.skills_summary }}</div>{% endif %}

	<div class="projects">
		<strong>Project(s): </strong>
		{% for projectstaff in me.projects.all %}
			{% with projectstaff.project as project %}
			<a href="{{ project.get_absolute_url }}">{{project}}</a>{% if not forloop.last %}, {% endif %}
			{% endwith %}
		{% empty %} Not yet signed up for any.
		{% endfor %}
	</div>

	<br />

	Want to recruit me? <a href="{% url message-person id=me.id slugPerson=me.slug %}">Send a message to {{me.name}}</a>.

	<div class="action"><a href="{% url message-person id=me.id slugPerson=me.slug %}">Send message</a></div>
	<div class="clear"></div>
 
{% endblock bodyContent %}