{% extends "hackathon/base.html" %}

{% block pageTitle %}NICAR Hackathon Project List{% endblock %}

{% block bodyContent %}
	<div class="line-header">{{ me.name }} {% if can_edit %}<span class="smalltxt ctl"><a href="{{me.get_edit_url}}">Click to edit</a></span>{% endif %}</div>

	<div class="description">{{ me.description|linebreaks }}</div>

	<br />

	{% if me.website %}<div class="url"><strong>Project home: </strong><a href="{{me.website}}">{{me.website}}</a></div>{% endif %}

	{% if me.repo %}<div class="url"><strong>Source code repository: </strong><a href="{{me.repo}}">{{me.website}}</a></div>{% endif %}

	<br />

	<span class="team"><strong>Team: </strong>{% for staff in me.staff.all %}<a href="{{staff.get_absolute_url}}">{{ staff }}</a>{% if staff.team_leader %} (organizer){% endif %}{% if not forloop.last%}, {% endif %}{% endfor %}</span><br />

	<br />

	<div class="needs"><strong>Staffing needs:</strong>
		{% if me.needs.count %}
			{% for need in me.needs.all %}{% if forloop.first %}{% else %}, {% endif %}{{need}}{% endfor %}
		{% else %}
			This project is not currently seeking additional staffing.
		{% endif %}
	</div>

	<br />

	<div class="action"><a href="{% url project-volunteer id=me.id slugProject=me.slug %}">Ask to join this team.</a></div>
	<div class="clear"></div>
 
{% endblock bodyContent %}