{% extends "hackathon/base.html" %}

{% block pageTitle %}NICAR Hackathon Project Sign-up{% endblock %}

{% block bodyContent %}

<div class="line-header">Project Sign-up</div> 

<form action="{{target}}" method="post">
	{{form.id}}
	
	<div class="field {% if form.name.errors %}error{% endif %}">
		<strong>{{form.name.label_tag}}</strong> <br>
		{{form.name}} <br>
		{% if form.description.errors %}<div class="error_txt">{{form.name.errors}}</div>{% endif %}
	</div>
	
	<div class="field {% if form.description.errors %}error{% endif %}">
		<strong>{{form.description.label_tag}}</strong> <br>
		{{form.description}} <br>
		{% if form.description.errors %}<div class="error_txt">{{form.description.errors}}</div>{% endif %}
	</div>
	
	<div class="field {% if form.website.errors %}error{% endif %}">
		<strong>{{form.website.label_tag}}</strong> <br>
		{{form.website}} <br>
		{% if form.website.errors %}<div class="error_txt">{{form.website.errors}}</div>{% endif %}
	</div>
	
	<div class="field {% if form.repo.errors %}error{% endif %}">
		<strong>{{form.repo.label_tag}}</strong> <br>
		{{form.repo}} <br>
		{% if form.repo.errors %}<div class="error_txt">{{form.repo.errors}}</div>{% endif %}
	</div>
	
	<div class="">PROJECT STAFF</div>
	{% for form in project_staff.forms %}
		{% for field in form %}
		{% include "hackathon/includes/field.html" %}
		{% endfor %}
	{% endfor %}
	{{project_staff.management_form}}

	<b>PROJECT NEEDS</b>
	{% for form in project_needs.forms %}
		{% for field in form %}
		{% include "hackathon/includes/field.html" %}
		{% endfor %}
	{% endfor %}
	{{project_needs.management_form}}

	{% csrf_token %}

	<input type="submit" value="Submit" />

</form>

{% endblock bodyContent %}