{% extends "hackathon/base.html" %}

{% block pageTitle %}NICAR Hackathon Project List{% endblock %}

{% block bodyContent %}
<div class="line-header">Sign-up</div> 
<div class="name"><strong>Name </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>
</div>
<div class="email"><strong>Email </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>
</div>
<div class="email"><strong>Password </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>
</div>
<div class="email"><strong>Skills </strong><form method="post" action="">
<textarea name="comments" cols="40" rows="5">
Enter your skills here...
</textarea><br>
<input type="submit" value="Submit" />
</form>
</div><br />
<div class="email"><strong>Skill-type </strong>
    <select>
      <option>Front-end</option>
      <option>Back-end</option>
    </select>
</div><br />
<div class="password"><strong>Twitter </strong><form action="something" method="get"><input name="as_q" type="text" id="sitesearchInput" size="25" />
        <input type="submit" class="search" value="Enter" id="searchPF" /><input type="hidden" name="as_sitesearch" value="recruits.gatorsports.com" /></form>

</div>


</div> 
 
 
</div></div> 
{% endblock bodyContent %}